.article {
    box-sizing: border-box;
    border: 1px solid rgb(1, 36, 139);
    padding: 5px 10px;
    border-radius: 10px;
    margin-bottom: 30px;
    width: 80%;
    margin: 0 auto;
}

.home main .boxes .article nav img{
    max-width: 70%;
    margin: 0 auto;
    max-height: 70vh;
    border-radius: 10px;
    border: 2px solid rgb(20 65 201);
}

.article article h1 {
    font-size: 30px;
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
    font-weight: bold;
}

.article article p {
    font-size: 16px;
    line-height: 25px;
    font-weight: lighter;
    transition: 400ms;
}

.article footer {
    background-color: inherit;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding: 20px 10px;
}

.article footer button {
    background-color: rgb(20 65 201);
    border: none;
    box-shadow: 5px 5px;
    padding: 10px;
    transition: 400ms;
    border-radius: 5px;
}

.article footer button:hover {
    box-shadow: 2px 2px;
    cursor: pointer;
}

.main .home footer img {
    width: 25px;
    border-radius: 0;
    overflow: hidden;
}

@media (max-width: 700px) {
    .article {
        width: 100%;
        border: none;
    }
}